button{
	display: block;
}

h1{
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

body{
	background-color: #f5fffa;
}
img{
	position: relative;
}
#Moscow{
	display: none;
}

#KV{
	display: none;
}
#London{
	display: none;
}